mixin card(src)
    article.card-foto
        .img-container
            img(src=src, alt="")
        .description
            .title
                h1.t4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, corporis iure commodi officia sit dignissimos dicta doloremque ullam natus voluptas cum dolor molestias nesciunt aspernatur alias eum hic possimus. Obcaecati?
            span.fechaP 20/06/2019
            