mixin card(src)
    .container-card
        article.card_article
            header(class="card_header")
                h3(class="card_title t4")
                    a(href="/html/ejercicios_basicos/ejercicio1.html") Title ♥
                img(src=src alt="Hallar la suma de n números")
            footer(class="card_footer")
                div(class="je-container card_footer_container")
                    div(class="card_footer_autor")
                        img(class="card_autor_img" src="/img/jpg/yop.jpg" alt="Jerson Ramírez")
                        a(class="underline small" href="/html/jerson.html")     Jerson Ramírez
                    div(class="card_footer_fecha")
                        span.small 24/09/2018 
        
            