extends ../config/template.pug

include ../mixins/card.pug

append config
    - pageTitle = "Perfil"

append metadata

append styles
    link(rel="stylesheet" href="/css/pages/perfil/perfil.css")
    link(rel="stylesheet" href="/css/components/modal.css")
    script(src="/js/toogle.js")
    
block header
    include ../includes/header

block banner
    div.user-banner-portada
        img(src="https://drupal.ed.team/sites/default/files/imagenes-cdn-edteam/2019-07/banner%20%284%29.jpg" alt="imagen de portada")

block main
    .je-container.main
        section.je-item.section-user
            .user-dat.user-img
                img(src="/img/jpg/yop.jpg" alt="Yo")
            .user-dat.user-name
                h1.t3.grey-color-dark.color Jerson Ramírez Ortiz
            .user-dat.user-email
                p juamkoo@gmail.com
            .user-dat.user-description
                p.small Me gusta mucho la programación Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas saepe animi aut quisquam reiciendis dolores illum recusandae veniam ducimus, voluptate facilis consequuntur minus. Enim officiis sed est, magni assumenda voluptas!
            .user-dat.user-country
                p.small 
                    span P 
                        span Hural, Perú
            .user-dat.user-social
                .user-social_web
                    a(href="" class="smaller")
                        span: a(href="#") jersonramirez.epizy.com
                .user-red-social
                    span F G
            button.user-dat.button.ghost cambiar contraseña
            button.user-dat.button Editar
            button.user-dat.button.ghost Publicar
        section.je-item.section-publicaciones#publicaciones
            .title_publicaciones
                h1.t3 Publicaciones
            .container-publicaciones
                .group-post
                    +card("http://lorempixel.com/300/200/")
                    +card("http://lorempixel.com/800/400/")
                    .group-date
                        span.small 2019
                        span.small 02/09      
                .group-post
                    +card("/img/jpg/yop.jpg")
                    +card("http://lorempixel.com/300/200/")
                    +card("http://lorempixel.com/800/400/")
                    +card("http://lorempixel.com/500/300/")
                    +card("http://lorempixel.com/300/300/")
                    +card("http://lorempixel.com/1800/1800/")
                    .group-date
                        span.small 2019
                        span.small 27/08
                .group-post
                    +card("http://lorempixel.com/300/200/")
                    .group-date
                        span.small 2019
                        span.small 20/08  

append scripts
    script.
        toogleButton('icon','navigation','active')
    script(src="/js/modal.js")    

