extends templateAbstract.pug

append metadata

append styles

block header
  header.main-header
    .je-container
      .je-item
      .je-item
        nav

block banner

block main
  main
    .je-container
      .je-item

block footer
  footer
    .je-container
      .je-item

append scripts
    script(src="assets/js/scripts-min.js")
