-let pageTitle = 'Home'
-let siteName = 'Jerson Ramírez'
-let twitterAccount = ''
-let pageDescription = 'Aquí les muestro mi portafolio'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Inicio',
      url: '/',
      child: []
    },
    {
      title: 'Lenguajes',
      url: '/html/lenguajes',
      child: []
    },
    {
      title: 'Publicaciones',
      url: '/html/publicaciones',
      child: []
    },
    {
      title: 'Conóceme',
      url: '/html/conoceme',
      child: []
    }
  ]
