/*
====================HEADER====================
*/
:root{
    --tam-logo: 2rem;
    --padding-header-tb:.5rem;
    --width-img-user: 110px;
}

.main-header{
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: solid 1px var(--border-color);
    z-index:var(--z-fixed);
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
}

.container-navigation,
.container-logo{
    width: 50%;
}

.logo{display: inline-block;}

.main-header img{
    height: 2rem;
    vertical-align: middle;
    object-fit: cover;
}

/*
    Header right
*/

.icon-menu-container{
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.icon-menu{
    width: 30px;
    height: 20px;
    position: relative;
}

.icon-menu::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    cursor: pointer;
    box-shadow: 0 4px #53575A inset, 0 8px white inset, 0 12px #53575A inset, 0 16px white inset, 0 20px #53575A inset;
}

.content-navigation{
    position: fixed;
    transform: translateX(100%);
    top: calc(var(--tam-logo) + var(--padding-header-tb) * 2 + 1px);
    width: 50%;
    height: calc(100vh - var(--tam-logo) + var(--padding-header-tb) * 2 + 1px);
    /*right: 0;*/
    overflow: auto;
    background-color: var(--color-first);
    z-index:var(--z-fixed);
    transition: transform .2s ease-in-out;
}

.active{
    transform: translateX(0%);
}

.menu-navigation{
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: auto;
    max-height: calc(100vh - 81px);
}

li a{
    display: block;
    padding: 1rem 0;
    color: var(--light-color);
}

.container-perfil{
    display: flex;
    align-items: center;
}

.container-perfil img{
    border-radius: 50%;
}

.icon-flecha{
    height: 1rem;
    padding-left: .4rem;
}



/*
====================FIN HEADER====================
*/


/**********************Banner*******************/
.user-banner-portada{
    height: 14rem;
    width: 100%;
    position: relative;
    margin-top: calc(var(--tam-logo) + var(--padding-header-tb) * 2 + 1px);
}

.user-banner-portada img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
/**********************Fin-Banner*******************/


/*********************SECCIÓN USER********************/
.section-user{
    position: relative;
    top: calc(var(--width-img-user) / 2 * -1);
}

.section-user a{
    color: var(--second-color);
}

.section-user img{
    width: var(--width-img-user);
    height: var(--width-img-user);
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px white;
}

/*
-------------SECCIÓN PUBLICACIONES-----------
*/

.container-publicaciones{
}

.group-post{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-post{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.group-date{
    display: none;
}

/*
-------------FIN SECCIÓN PUBLICACIONES-----------
*/


/*
---------------------Card---------------------
*/

.container-card{
    margin-bottom: 2rem;
    border: solid 1px red;
}

.card-article{
    border: solid 1px black;
}

/*header*/
.card_header img{
    max-width: 100%;
}

/*footer*/
.card_autor_img{
    width: 40px;
    border-radius: 50%;
}


/*RESPONSIVE*/
 
/*Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
   @media (min-width: 768px) {
   
   }


/*Escritorios muy anchos
   ------------------------------------------------------------------------- */
   @media (min-width: 1200px) { }

 
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media screen and (min-width: 1024px){
    
    .main{
        flex-wrap: nowrap;
    }

    .section-user{
        flex-basis: 40%;
        flex-grow: 0;
    }

    .section-publicaciones{
        flex-grow: 1;
    }

}