/*
====================HEADER====================
*/
:root{
    --tam-logo: 2rem;
    --padding-header-tb:.5rem;
    --width-img-user: 110px;
}

.main-header{
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: solid 1px var(--border-color);
    z-index:var(--z-fixed);
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
}

.container-navigation,
.container-logo{
    width: 50%;
}

.logo{display: inline-block;}

.main-header img{
    height: 2rem;
    vertical-align: middle;
    object-fit: cover;
}

/*
    Header right
*/

.icon-menu-container{
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.icon-menu{
    width: 30px;
    height: 20px;
    position: relative;
}

.icon-menu::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 20px;
    cursor: pointer;
    box-shadow: 0 4px #53575A inset, 0 8px white inset, 0 12px #53575A inset, 0 16px white inset, 0 20px #53575A inset;
}

.content-navigation{
    position: fixed;
    transform: translateX(100%);
    top: calc(var(--tam-logo) + var(--padding-header-tb) * 2 + 1px);
    width: 50%;
    height: calc(100vh - var(--tam-logo) + var(--padding-header-tb) * 2 + 1px);
    /*right: 0;*/
    overflow: auto;
    background-color: var(--color-first);
    z-index:var(--z-fixed);
    transition: transform .2s ease-in-out;
}

.active{
    transform: translateX(0%);
}

.menu-navigation{
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: auto;
    max-height: calc(100vh - 81px);
    /*max-height: calc( 100vh - 49px);*/
}

li a{
    display: block;
    padding: 1rem 0;
    color: var(--light-color);
}

.container-perfil{
    display: flex;
    align-items: center;
}

.container-perfil img{
    border-radius: 50%;
}

.icon-flecha{
    height: 1rem;
    padding-left: .4rem;
}



/*
====================FIN HEADER====================
*/


/**********************Banner*******************/
.user-banner-portada{
    height: 14rem;
    width: 100%;
    position: relative;
    margin-top: calc(var(--tam-logo) + var(--padding-header-tb) * 2 + 1px);
}

.user-banner-portada img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
/**********************Fin-Banner*******************/


/*********************SECCIÓN USER********************/
.section-user{
    position: relative;
    top: calc(var(--width-img-user) / 2 * -1);
}

.section-user a{
    color: var(--second-color);
}

.section-user img{
    width: var(--width-img-user);
    height: var(--width-img-user);
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px white;
}

.user-dat{
    margin-bottom: .5rem;
}
/*******************FIN SECCIÓN USER********************/

/*
    Publicaciones
*/

.section-publicaciones{
    text-align: center;
    padding-left: 2rem;
}

.title_publicaciones{
    margin-bottom: 3rem;
    padding: 1rem 0;
}

/*--------------CARD--------------*/

.container-card{
    padding-left: 2rem;
}

.card_article{
    position: relative;
    box-shadow: 0 2px 16px -2px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 0.25rem;
    margin-bottom: 5rem;
}

/*card-header*/
.card_header a{
    display: inline-block;
}

.card_title{
    padding: .5rem;
}

.card_header img{
    max-width: 100%;
    vertical-align: middle;
}

.card_footer{
    padding: .5rem;
}

/*card-footer*/
.card_autor_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: .5rem;
}

.card_footer_container{
    justify-content: space-between;
}

.card_footer_autor, 
.card_footer_fecha{
    display: flex;
    align-items: center;
}


/*---------FIN-CARD---------*/

.linea{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linea::after {
    content: '';
    width: 2px;
    background-color: #058ecd;
    position: absolute;
    top: 2rem;
    bottom: 0;
    left: calc(50% - 1px + 1rem);
    z-index: -1;
}

.linea::before {
    content: '';
    position: absolute;
    width: calc( 50% + 1rem);
    left: 0;
    bottom: 0;
    background: #058ecd;
    height: 2px;
}

.group-publicacion{
    position: relative;
    margin-bottom: 6rem;
    padding-top: 2rem;
}

.group-publicacion::after {
    content: '';
    position: absolute;
    border: solid 1px #058ecd;
    left: 0;
    bottom: 0;
    width: 30px;
}

.group-publicacion::before {
    content: '';
    border: solid 1px #058ecd;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.group-date{
    display: flex;
    color:#058ecd;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -50px;
    left: -25px;
    border-radius: 5px;
    border: solid .1rem #058ecd;
}

/*
    Fin publicaciones
*/

/*RESPONSIVE*/
 
/*Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
   @media (min-width: 768px) {
    .section-user{
        width: 40%;
    }

    .section-publicaciones{
        width: 60%;
        padding-left: 1rem;
    }
   }


/*Escritorios muy anchos
   ------------------------------------------------------------------------- */
   @media (min-width: 1200px) { }

 
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media screen and (min-width: 1024px){
    
    .content-navigation{display: block;}

    .icon-menu-container{display: none;}

    .content-navigation{
        margin-top: 0;
        position: initial;
        height: 100%;
        background-color: var(--body-bg);
        transform: initial;
        transition: none;
        overflow: initial;
        width: 100%;
    }

    .menu-navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        height: inherit;
    }

    li a{
        padding: 0;
        color: var(--color-text);
    }


    /************Banner************/
    .user-banner-portada{
        height: 16rem;
    }


    .main{
        display: flex;
        justify-content: space-around;
    }

    /*User*/
    .section-user{
        --width-img-user : 128px;
    }

    .card_header img,
    .card_autor_img{
        cursor: pointer;
    }

}