.modal-container{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 10000;
}

.modal-content{padding:1rem;}

.modal-inner{
    padding: 0 1rem;
    background-color: #fff;
    
}

.modal-img{
    max-width: 100%;
    max-height: calc(100vh - 137px);
    vertical-align: middle;
}

.close-modal{
    position: absolute;
    top: 4%;
    right: 1rem;
    font-size: 60px;
    color: white;
    
}

.modal-title{font-size: 13px;}

.txt-footer,
.modal-title{
    text-align: center;
    padding: 1rem 0;
}

.scrollOff{overflow-y : hidden;}

@media screen and (min-width:1024px){
    .close-modal{right: 5rem;}
    .scrollOff{overflow-y: auto;}
    .close-modal{cursor: pointer;}
}

